.vertical-nav {
  background-image: linear-gradient(to right, #3B7BBC, #52ade9);
  color: white;
  height: 100vh;
  width: 70px;
  overflow-x: hidden;
  transition: width 0.3s ease;
}

.vertical-nav.active {
  width: 250px; 
}


.nav-header {
  padding: 15px;
  color: #ffffff; 
}

/* Menu styles */
.nav-menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.navs-item {
  margin: 10px 0;
}

.navs-item a {
  display: flex;
  align-items: center;
  color: #e0e8f0; 
  text-decoration: none;
  padding: 10px 20px;
  transition: background 0.3s ease, color 0.3s ease;
  border-radius: 4px;
}

.navs-item a:hover {
  background-image: linear-gradient(to right, #3B7BBC, #52ade9); 
  color: white;
}

.navs-item a.active {
  background-image: linear-gradient(to right,#45A1C3, #36a8d1); 
  color: white;
}

.navs-icon {
  font-size: 20px;
  margin-right: 10px;
  color: #ffffff;
}

.navs-label {
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.3s ease;
  opacity: 1;
  color: #ffffff;
}
.vertical-nav:not(.active) .nav-label {
  opacity: 0;
  display: none;
}