.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #3B7BBC, #52ade9);
    padding: 1rem;
  }
  
  .navigationBar img {
    padding-left: 10%;
    padding-right: 1%;

    height: 50px;
  }
  .Title {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding-right: 30%;
  }
  .nav-items {
    list-style: none;
    display: flex;
    gap: 2rem; /* Adjust spacing between items */
  }
  
  .nav-items li {
    position: relative;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .nav-items li:hover {
    color: rgb(224, 253, 253);
  }
  
  /* Dropdown CSS */
  .services-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(224, 253, 253);
    list-style: none;
    display: none;
    width: 10rem;
    text-align: start;
  }
  
  .nav-items li:hover .services-submenu {
    display: block;
  }
  
  .services-submenu li {
    padding: 1rem;
    cursor: pointer;
  }
  
  .services-submenu li:hover {
    background-color: rgb(224, 253, 253);
  }
  
